.text-rejected {
       color: rgb(236, 29, 0)!important;
       font-weight: bold;
   }

   .text-confirmation {
       color: rgb(0, 114, 0)!important;
       font-weight: bold;
   }


   .text-pending {
       color: orange;
       font-weight: bold;
   }

   .text-finish {
       color:  rgb(74,144,226);
       font-weight: bold;
   }