<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="user">
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-left *ngIf="user">
      Perfil
    </ion-title>
    <ion-title text-left *ngIf="!user">
      Prestar servicios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="title-grid">
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 text-center *ngIf="!user">
        <p>Completá los siguientes campos</p>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>

  <ion-row *ngIf="user">
    <ion-col col-12 text-center>
      <ion-col text-right class="stars">
        <ion-icon [ngStyle]="{color: (user.rating >= 1) ? 'orange' : 'gray'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{color: (user.rating >= 2) ? 'orange' : 'gray'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{color: (user.rating >= 3) ? 'orange' : 'gray'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{color: (user.rating >= 4) ? 'orange' : 'gray'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{color: (user.rating >= 5) ? 'orange' : 'gray'}" name="star"></ion-icon>
      </ion-col>
    </ion-col>
  </ion-row>

  <form class="cool-form" (ngSubmit)="register()" [formGroup]="form" padding>
    
    <ion-item (click)="loadImage()">
      <ion-label stacked>Foto de perfil</ion-label>
      <ion-avatar item-end >
        <img [src]="image" onError="this.src='assets/imgs/avatar.png'">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nombre y Apellido</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Área de trabajo</ion-label>
      <ion-select formControlName="category" cancelText="Cancelar">
        <ion-option value="Hogar">Hogar</ion-option>
        <ion-option value="Mantenimiento">Mantenimiento</ion-option>
        <ion-option value="Jardinería">Jardinería</ion-option>
        <ion-option value="Cuidados personales">Cuidados personales</ion-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label stacked>Fecha de nacimiento</ion-label>
      <ion-input type="date" formControlName="birthDate"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label stacked>Teléfono de contacto</ion-label>
      <ion-input type="number" formControlName="phone"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label stacked>CUIT</ion-label>
      <ion-input type="text" formControlName="cuit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>DNI</ion-label>
      <ion-input type="text" formControlName="dni"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label stacked>Sexo</ion-label>
      <ion-select formControlName="sex" cancelText="Cancelar">
        <ion-option value="male">Masculino</ion-option>
        <ion-option value="female">Femenino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- falta beautify --> 
    
    <ion-item>
      <ion-label stacked>Descripción Corta</ion-label>
      <ion-input type="text" formControlName="shortDesc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descripción</ion-label>
      <ion-input type="text" formControlName="desc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Precio mínimo del servicio</ion-label>
      <ion-input type="number" formControlName="priceStart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Precio máximo del servicio</ion-label>
      <ion-input type="number" formControlName="priceEnd"></ion-input>
    </ion-item>

    <!-- <ion-label>Disponibilidad horaria</ion-label>
    <ion-item class="listTime">
      <ion-label>Mañana</ion-label>
      <ion-checkbox  (ionChange)="checkBoxTime($event, 'mañana')" value="mañana"></ion-checkbox>
      <ion-label>Tarde</ion-label>
      <ion-checkbox  (ionChange)="checkBoxTime($event, 'tarde')" value="tarde"></ion-checkbox>
      <ion-label>Noche</ion-label>
      <ion-checkbox  (ionChange)="checkBoxTime($event, 'noche')" value="noche"></ion-checkbox>
    </ion-item> -->

    <ion-label>Disponibilidad horaria</ion-label>
    <div class="listTime">
    
    
      <ion-item>
        <ion-label>Mañana</ion-label>
        <ion-checkbox [checked]="morning" (ionChange)="checkBoxTime($event, 'mañana')"> </ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Tarde</ion-label>
        <ion-checkbox [checked]="afternoon" (ionChange)="checkBoxTime($event, 'tarde')"> </ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Noche</ion-label>
        <ion-checkbox [checked]="night" (ionChange)="checkBoxTime($event, 'noche')"> </ion-checkbox>
      </ion-item>
    </div>
        
    <ion-item>
      <ion-label stacked>Seleccionar País</ion-label>
      <ion-select cancelText="Cancelar" (ionChange)="onChangeCountry()" formControlName="country">
        <ion-option *ngFor="let item of countries" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Seleccionar Provincia</ion-label>
      <ion-select cancelText="Cancelar" (ionChange)="onChangeProvince()" formControlName="province">
        <ion-option *ngFor="let item of provinces" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Seleccionar Ciudad</ion-label>
      <ion-select cancelText="Cancelar" formControlName="city">
        <ion-option *ngFor="let item of cities" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Zona de trabajo</ion-label>
      <ion-textarea formControlName="jobZone" type="text"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Dirección</ion-label>
      <ion-textarea formControlName="address" type="text"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label stacked>Latitud</ion-label>
      <ion-textarea formControlName="latitude" type="text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Longitud</ion-label>
      <ion-textarea formControlName="longitude" type="text"></ion-textarea>
    </ion-item> -->

    <ion-row *ngIf="!user">
      <ion-col col-3 style="display: flex; justify-content: center; align-items: center;" >
        <ion-checkbox [(ngModel)]="termsAndConditions" [ngModelOptions]="{standalone: true}" color="dark" checked="false"></ion-checkbox>
      </ion-col>
      <ion-col col-9 (click)="openAgbPage()">
        <p> Acepto los 
          <u style="color: #245CD0;"> términos y condiciones</u></p>
      </ion-col>
    </ion-row>
    

    <div padding>
      <button ion-button block outline color="white" class="default-btn button-class" *ngIf="!user" [disabled]="!form.valid">REGISTRAR</button>
      <button ion-button block outline color="white" class="default-btn button-class" *ngIf="user" [disabled]="!form.valid">ACTUALIZAR</button>
    </div>
  </form>
</ion-content>
